<a href="https://colab.research.google.com/github/yebiny/SkillTreePython-DataAnalysis/blob/main/02.%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%8B%9C%EA%B0%81%ED%99%94/ch02_02_%EC%84%A0%EA%B7%B8%EB%9E%98%ED%94%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch02.02. 선그래프

---
* 날짜:
* 이름:


##  개념정리 
---

```
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['figure.figsize'] = [6, 4]
plt.style.use('seaborn-white')
sns.set_style('white')
```

### **01. Matplotlib 으로 그리기**
---

#### **| 기본사용**

```
xs = ['Jan', 'Fab', 'Mar', 'Apr', 'May', 'Jun']
nums = [35, 40, 35, 40, 55, 45]
plt.bar(xs, nums)
plt.show()
```

#### **| 옵션**

```
plt.plot(data, 
        color=색,
        linestyle=선스타일,
        marker=마커,
        markerfacecolor=마커색
        markersize=마커사이즈
        alpha=투명도 (0~1),
        label = 레이블,
```

### **02. Seaborn 으로 그리기**
---

#### **| 기본사용**

```
sns.lineplot(x=xs, y=nums)
plt.show()
```

#### **| DataFrame 사용**
---

* 데이터 프레임을 만들어 줍니다.

* 데이터프레임에서 기본적으로 플롯을 제공합니다.


```
df.plot(x=x,y=y)
```

* 데이터프레임 기반으로 seaborn을 사용합니다.


```
sns.lineplot(data=df,x=x, y=y')
```


## 실습

### **01. 플롯 분할**
---

### **02. 눈금 공유**
---


## 과제

### **01. 로그함수와 지수함수 그리기**
---

### **02. 램덤값 비교하기**
---

- 넘파이로 표준정규분포를 따르는 50개의 데이터를 총 세개 추출하세요.
- 세개의 데이터를 3 x 1 플롯으로 그리세요
- 세개의 플롯의 눈금을 모두 공유하세요.