<a href="https://colab.research.google.com/github/yebiny/SkillTreePython-DataAnalysis/blob/main/01.%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%B4%88/06_Pandas_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%9D%BD%EA%B3%A0%EC%A0%80%EC%9E%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch06. Pandas - 데이터읽고 저장하기
---
* 날짜:
* 이름:

## 개념정리
---

```
import pandas as pd
```

---
### **(1) 데이터 불러오기**
---


`read_csv` 함수는 테이블 형태의 데이터를 불러오는데 효과적으로 사용됩니다. 

* `pd.read_csv(filepath, sep, header, index_col, usecols, parse_dates, nrows)`
  * `filepath`: 파일 경로 및 이름
  * `sep`: 구분자 (디폴트 ',')
  * `header`: 헤더의 위치, None일 경우 0, 1, 2, .. 자동 부여
  * `index_col` : 인덱스의 위치 (디폴트 None)
  * `usecols`: 사용할 컬럼 및 위치 목록
  * `nrows`: 불러올 행의 개수

#### **| 텍스트 파일 불러오기**

우선 텍스트 파일을 하나 생성하겠습니다.


```
with open('test.txt', 'w') as f:
  for i in range(5):
    f.write(f'{i} , {i+1} , {i+2}\n')
```

생성한 텍스트 파일을 `read_csv`를 이용해 불러옵니다.

```
df_test = pd.read_csv('test.txt')
df_test
```

이번엔 텍스트 파일의 구분을 탭(`\t`)이용해 작성합니다.


```
with open('test.txt', 'w') as f:
  for i in range(5):
    f.write(f'{i} \t {i+1} \t {i+2}\n')
```

똑같이 텍스트 파일을 불러옵니다. 

```
df_test = pd.read_csv('test.txt')
df_test
```

`read_csv`는 데이터를 불러올 때 구분자 디폴트가 콤마(,) 입니다. 

따라서 탭을 이용한 경우는 옵션을 설정해 줍니다.

```
df_test = pd.read_csv('test.txt', sep='\t')
df_test
```

이 때 각 열의 이름이 첫번 째 줄로 자동 저장 됩니다. 이를 방지하려면 `header`를 `None`으로 설정해야 합니다. 

```
df_test = pd.read_csv('test.txt', sep='\t', header=None)
df_test
```

#### **| CSV 파일 불러오기**

이번에는 `csv`파일을 불러옵니다.

```
f_path = '/content/sample_data/california_housing_test.csv'
df = pd.read_csv(f_path)
df
```

In [ ]:
f_path = '/content/sample_data/california_housing_test.csv'
df = pd.read_csv(f_path)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

#### **| 제한적으로 불러오기**

```
df_short = pd.read_csv(f_path,
                 usecols = [2, 3, 5], 
                 nrows = 1000)

df_short
```

---
### **(2) 데이터 출력**
---

option을 이용해서 최대 행의 개수와 최소 열의 개수를 조정할 수 있습니다. 

```
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
```

#### **| 출력 함수**

* `.head(n)` 가장 처음 데이터 n줄만 보여줍니다. (n을 정의하지 않으면 n=5)

* `.tail(n)` 가장 마지막 데이터 n줄만 보여줍니다. (n을 정의하지 않으면 n=5)

* `.columns` : 열의 인덱스를 반환합니다.

#### **| 기본 정보**

* `.shape` : 데이터의 shape 를 출력합니다.
* `.dtypes` : 데이터의 타입을 확인합니다.
* `.info()` : 데이터에 대한 개략적인 정보를 표시합니다.
* `.describe()` : 각 column 들의 기술 통계량을 출력합니다.
  * `count`: 해당 column에서 비어 있지 않은 값의 개수
  * `mean`: 평균
  * `std`: 표준편차
  * `min`: 최솟값 (이상치 포함)
  * `25%` (Q1): 전체 데이터를 순서대로 정렬했을 때, 아래에서 부터 1/4번째 지점에 있는 값
  * `50%` (Q2): 중앙값 (전체 데이터를 순서대로 정렬했을 때, 아래에서 부터 2/4번째 지점에 있는 값)
  * `75%` (Q3): 전체 데이터를 순서대로 정렬했을 때, 아래에서 부터 3/4번째 지점에 있는 값
  * `max`: 최댓값 (이상치 포함)

* `.corr()`: 변수들 간 상관관계를 출력합니다.
* `.isnull()` : 결측치가 있는지를 출력합니다.

#### **|  값 카운팅**

데이터의 카운팅은 보통 연속형 자료가 아닌 범주형 자료에 사용됨을 참고하세요. 

데이터 전체에 대해 카운팅을 할 수 있지만 보통 범주형 자료형에 대해서만 카운팅을 하기 때문에 특정 열에만 접근 할 필요가 있습니다.

특정 열에 접근하는 방법은 몇가지가 있지만 이번시간에는 간단히 `df.열이름`을 이용해 보겠습니다.

```
df.total_bedrooms
```

* `.value_counts()` : 데이터의 개수를 카운트 합니다.

```
df.total_bedrooms.value_counts()
```

* `.unique()` : 데이터의 모든 값을 (중복제거하여) 출력합니다.

```
df.total_bedrooms.unique()
```

#### **| 집계함수**


|함수 | 내용|
|--|--|
|sum | 합계|
|mean|평균|
|std|표준편차|
|var|분산|
|quantile|백분위수|
|min|최소값|
|max|최대값|

* `quantile(n)`: 상위 `n`프로의 값을 얻습니다

```
print(df.total_rooms.quantile(0.1)) # 상위 10%
print(df.total_rooms.quantile(0.5)) # 중앙값
print(df.total_rooms.median()) # 중앙값
```

---
### **(3) 데이터 통합**
---

#### **| `concat` 이용하기**

* `pandas.concat([])`
  * 둘 이상의 데이터 프레임을 이어 붙이는데 사용
  * 주요입력
    * `objs`: DataFrame을 요소로 하는 리스트로 입력 순서대로 병합됨.
    * `ignore_index`: `True`면 기존 인덱스 무시하고 새로운 인덱스 부여, `False`면 기존 인덱스를 사용
    * 보통 행단위는 `ignore_index`를 `True`, 열단위는 `False`
    * `axis` : 0이면 행 단위로 병합 수행, 1이면 열단위로 병합 수행

전체 데이터에서 `longitude`, `latitude`열만 불러옵니다.

```
df1 = pd.read_csv(f_path,
                 usecols = [0, 1], 
                 nrows = 5)

df1
```

전체 데이터에서 `total_rooms`, `total_bedrooms`열만 불러옵니다.

```
df2 = pd.read_csv(f_path,
                 usecols = [3, 4], 
                 nrows = 5)

df2
```

`.concat` 을 이용해 상하(axis=0)로 결합합니다.

```
df_concat = pd.concat([df1, df1], axis=0, ignore_index=True)
df_concat
```

`.concat` 을 이용해 좌우(axis=1)로 결합합니다.

```
df_concat = pd.concat([df1, df2], axis=1)
df_concat
```

#### **| `merge` 이용하기**


* `pandas.merge`
  * key 변수를 기준으로 두개의 데이터 프레임을 병합(join)하는 함수.
  * 주요 입력
    * `left`: 통합 대상 데이터 프레임1
    * `right`: 통합
    * `on` : 통합기준 key 변수 및 변수 리스트 (입력을 하지 않으면 이름이 같은 변수를 key로 식별)
    * `left_on` : 데이터프레임1의 key 변수 및 변수 리스트
    * `right_on`: 데이터프레임2의 key 변수 및 변수 리스트
    * `left_index`: 데이터프레임1의 인덱스를 key 변수로 사용할 것인지 여부
    * `left_index`: 데이터프레임1의 인덱스를 key 변수로 사용할 것인지 여부

전체 데이터에서 `longitude`, `total_rooms`, `total_bedrooms`열만 불러옵니다.

```
df3 = pd.read_csv(f_path,
                 usecols = [0, 3, 4], 
                 nrows = 5)

df3
```

두 데이터를 `merge` 합니다.
```
df_merge = pd.merge(df1, df3)
df_merge
```

---
### **(4) 데이터 저장하기**
---


* `.to_csv(savepath, index)`
  * `filepath` : 파일 경로 및 이름
  * `index` : 인덱스 저장여부 (bool)


```
df_merge.to_csv("ch06_merged.csv", index = True)
```

## 문제풀이
---

**예제 01**

`sample_data/california_housing_test.csv` 에서 열 `population`   `households`    `median_income` 만 위에서 500줄 불러오고 `df01`로 바인딩 하세요.

**예제 02**

`sample_data/california_housing_test.csv` 에서 열 `median_incom`   `median_house_value` 만 위에서 500줄 불러오고 `df02`로 바인딩 하세요.

**예제 03**

`df02`의 `.describe`를 실행하고 이를 통해 알 수 있는 정보를 정리하세요.

**예제 04**

`df01`과 `df02`를 `concat`을 이용해 좌우로 연결하세요. 데이터가 어떻게 합쳐지는지 간단히 설명하세요.

**예제 05**

`df01`과 `df02`를 `merge`을 이용해 좌우로 연결하세요. 데이터가 어떻게 합쳐지는지 간단히 설명하세요.