<a href="https://colab.research.google.com/github/AlcoholWolf/py-play/blob/main/4_3_%EC%A1%B0%EA%B1%B4%EB%AC%B8___while_%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4-3. 조건문 : while 문
---
* 날짜:
* 이름:

## 개념정리
---

또 다른 반복문인 whlie문은 for문과 동일하게 특정 코드를 반복해서 진행합니다. 그렇지만 for문과 달리 반복문 내에 반복되는 특정 변수가 없으며 필요시 직접 입력해주어야 합니다.

### **(1) 기본 사용**

while문의 기본 구조는 아래와 같습니다.



```
while <조건문>:
  <반복되는 코드>
  ...
```

조건문은 항상 bool 형태, 즉 True 혹은 False임을 유의하세요. while은 조건문이 True인 동안 계속해서 반복됩니다. <조건문> 자리에 a가 5보다 작다는 조건을 입력해봅시다. 반복문이 시작할 때 a가 0이기 때문에 a<5라는 조건은 `True` 가 됩니다. 조건문이 `True`인 동안 a는 1씩 증가하다가 a가 5 이상이 되는 순간 조건문은 `False`가 되며 반복문이 종료됩니다.

```
a=0
while a<5:
  print(a)
  a+=1
```

In [1]:
a=0
while a<5:
  print(a)
  a+=1

0
1
2
3
4

#### **무한루프**

이번에는 <조건문> 자리에 직접 `True` 를 입력하겠습니다. 이렇게 되면 반복문의 조건문이 항상 `True`인 상태기 때문에 다른 조건을 코드 아래에 추가해 주지 않으면 무한루프가 됩니다. (아래 코드는 무한 루프이기 때문에 굳이 실행해 보지 않아도 됩니다.)

```
a=0
while True:
  print(a)
  a+=1
```

In [3]:
a=0
while a<6:
  print(a)
  a+=1

0
1
2
3
4
5

### **(2) if문과 함께 쓰는 for문**

무한이 코드가 돌아가지 않도록 해야 하기 때문에 보통 반복문 내에 이를 컨트롤 할 코드를 작성해 줍니다.


#### **다음반복으로 건너뛰기**

* `continue`

만일 특정 조건에서 루프를 그대로 종료하는 것이 아니라 다음 루프로 넘어가고 싶다면 `continue`를 사용합니다.

```
a = 0
while True:
  print(a)
  a+=1
  if a==5: 
    continue
  if a==10:
    break
```

In [4]:
a = 0
while True:
  print(a)
  a+=1
  if a==5: 
    continue
  if a==10:
    break

0
1
2
3
4
5
6
7
8
9

#### **while문을 즉시 종료하기**  

* `break`

`for문` 안에서 `break` 을 만나면 즉시 `for문`이 종료됩니다. (모든 루프가 돌아가지 않았어도)

```
a=0
while True:
  print(a)
  a+=1
  if a==5:
    break
```

In [5]:
a=0
while True:
  print(a)
  a+=1
  if a==5:
    break

0
1
2
3
4

## 문제 풀이
---


**예제 01**

for문으로 작성한 코드와 똑같은 결과가 나오도록 while문으로 작성하세요

```
for i in range(3, 10):
  print(i)
```

In [13]:
for i in range(3, 10):
  print(i)

3
4
5
6
7
8
9

In [14]:
i = 3
while 3 <= i < 10:
  print(i)
  i += 1

3
4
5
6
7
8
9

**예제 02**

for문으로 작성한 코드와 똑같은 결과가 나오도록 while문으로 작성하세요

```
for i in range(1, 101, 5):
  print(i)
```

In [15]:
for i in range(1, 101, 5):
  print(i)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [16]:
i = 1
while i < 101:
  print(i)
  i += 5

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

**예제 03**

for문으로 작성한 코드와 똑같은 결과가 나오도록 while문으로 작성하세요

```
for i in range(100):
  if i%2==0:
    print(i,"짝수")
  if i==80: break
```

In [17]:
for i in range(100):
  if i%2==0:
    print(i,"짝수")
  if i==80: break

0 짝수
2 짝수
4 짝수
6 짝수
8 짝수
10 짝수
12 짝수
14 짝수
16 짝수
18 짝수
20 짝수
22 짝수
24 짝수
26 짝수
28 짝수
30 짝수
32 짝수
34 짝수
36 짝수
38 짝수
40 짝수
42 짝수
44 짝수
46 짝수
48 짝수
50 짝수
52 짝수
54 짝수
56 짝수
58 짝수
60 짝수
62 짝수
64 짝수
66 짝수
68 짝수
70 짝수
72 짝수
74 짝수
76 짝수
78 짝수
80 짝수

In [19]:
i = 1
while i <= 80:
  i += 1
  if i%2==0:
    print(i,"짝수")
  if i==80: break

2 짝수
4 짝수
6 짝수
8 짝수
10 짝수
12 짝수
14 짝수
16 짝수
18 짝수
20 짝수
22 짝수
24 짝수
26 짝수
28 짝수
30 짝수
32 짝수
34 짝수
36 짝수
38 짝수
40 짝수
42 짝수
44 짝수
46 짝수
48 짝수
50 짝수
52 짝수
54 짝수
56 짝수
58 짝수
60 짝수
62 짝수
64 짝수
66 짝수
68 짝수
70 짝수
72 짝수
74 짝수
76 짝수
78 짝수
80 짝수

**예제 04**

while 문을 이용해 1에서 100까지 짝수만 출력하세요

In [20]:
i = 1
while i <= 100:
  i += 1
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

**예제 05**

while 문을 이용해 1에서 100까지 홀수만 더한 값을 구하세요

In [22]:
i = 1
b = 0
while i <= 100:
  i += 1
  if i%2==1:
    b += i
print (b)

2600

**예제 06**

while 문을 이용해 1에서 100까지 4와 3의 공배수들의 평균을 구하세요

In [38]:
i = 4
b = 3
while i <= 100:
  i += 4
  b += 3
  c = (i * b)
print (c/(i/4))

312.0

**예제 07**

- while구문을 시작합니다.
- `input()` 함수로 사용자의 입력을 계속 받습니다.
- 사용자가 "그만" 이라고 입력하면 구문을 종료합니다.

In [39]:
while True:
  A = input()
  if A == '그만':
    break

그만

2**예제 08**

while문을 이용해 아래 결과를 내는 함수 `bomb()` 를 작성하세요. 음수가 입력될 경우 다른 에러메시지를 출력하세요.


```
>> bomb() 
Enter timer: 6  
befor 6 sec.  
befor 5 sec.  
befor 4 sec.  
befor 3 sec.  
befor 2 sec.  
befor 1 sec.  
BOMB!  
```

In [53]:
IN = int(input())
if IN > 1:
  while IN > 1:
    IN -= 1
    print(f'befor {IN} sec.')
    if IN == 1:
      print('BOMB!')
elif IN == 0 or IN == 1:
  print('BOMB!')
else:
  print('Type Errer')

50
befor 49 sec.
befor 48 sec.
befor 47 sec.
befor 46 sec.
befor 45 sec.
befor 44 sec.
befor 43 sec.
befor 42 sec.
befor 41 sec.
befor 40 sec.
befor 39 sec.
befor 38 sec.
befor 37 sec.
befor 36 sec.
befor 35 sec.
befor 34 sec.
befor 33 sec.
befor 32 sec.
befor 31 sec.
befor 30 sec.
befor 29 sec.
befor 28 sec.
befor 27 sec.
befor 26 sec.
befor 25 sec.
befor 24 sec.
befor 23 sec.
befor 22 sec.
befor 21 sec.
befor 20 sec.
befor 19 sec.
befor 18 sec.
befor 17 sec.
befor 16 sec.
befor 15 sec.
befor 14 sec.
befor 13 sec.
befor 12 sec.
befor 11 sec.
befor 10 sec.
befor 9 sec.
befor 8 sec.
befor 7 sec.
befor 6 sec.
befor 5 sec.
befor 4 sec.
befor 3 sec.
befor 2 sec.
befor 1 sec.
BOMB!

7

**예제 09**

연이자율이 8%인 예금통장에 길동이는 올해 1월 1000만원을 예금했습니다. 이 돈이 1500만원을 넘기는 시점은 몇년뒤 인지 while문을 이용해서 구하세요

In [63]:
i = 1000
D = 0
while i <= 1500:
  A = int(i/100)
  A = A * 8
  i = A + i
  D += 1
  print (f'{i}, {D}년 후')
print (f'{i}, {D}년 후 1500 만원을 넘습니다.')

1080, 1년 후
1160, 2년 후
1248, 3년 후
1344, 4년 후
1448, 5년 후
1560, 6년 후
1560, 6년 후 1500 만원을 넘습니다.

**예제 10**

- while 문을 이용해 1부터 100까지 값을 출력합니다.
- 만약 출력값이 짝수면 `list_even`, 홀수면 `list_odd`, 5의 배수면 `list_5`
- `list_even, list_odd, list_5`는 리스트이며 중복가능하게 각 리스트에 숫자를 넣습니다.

In [66]:
i = 0
L2 = []
L1 = []
L5 = []
while i <= 100:
  i += 1
  if i%2==0:
    L2.append(i)
  if i%2==1:
    L1.append(i)
  if i%5==0:
    L5.append(i)
print(L1, L2, L5, sep='\n')

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]